{% extends "base.html" %}

{% block content %}
<!-- Main -->
	<div id="main">

		<!-- One -->
			<section id="one">
				<div class="inner">
					<header class="major">
						<h2>About</h2>
					</header>
					<p>Kemsing Tunnel Engineering and Research</p>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="spotlights">
				<section>
					<a href="generic.html" class="image">
						<img src="static/images/KTER.png" alt="" data-position="center center" />
					</a>
					<div class="content">
						<div class="inner">
							<header class="major">
								<h3>KTER</h3>
							</header>
							<p>KTER began as an umbrella for a range of my 'pet projects'. These ranged from excuses
							to advance my programming skills to tools I would like to be available to me when not 
							using my laptop. The main focus was to create useful engineering tools to aid the tunnel
							ventilation engineer on their travels.</p>
							<p>As the range of tools developed things got to the point where I could no longer run things
								without the aid of a dedicated container. This led me into web app programming. This seemed the 
								right approach and KTER became a web presence. This remains work in progress 
							and without any warranty. If you wish to use any of the tools here please do so at your 
							own risk. Should you spot any errors or potential for improvement please let me know.</p>
							<p>Not all of the tools that I have developed are available here, although they are descirbed.
								The reasons for not including them in the tool set vary but if one sounds to be of major interest 
								please get in touch to discuss.</p>
						</div>
					</div>
				</section>

			</section>

	</div>

{% endblock %}