{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h1>Welcome to KTER,</h1>
    <h2>Kemsing Tunnel Engineering & Research</h2>
    <p>This website hosts a range of different tools that have been of benefit 
    to me at various points. As tools which are made freely available get added 
    they will be included in links below. Alongside each tool will be notes on how
    the tool was validated and any additional verification KTER undertook. This is
    for the purposes of allowing users to assess if it will also meet their needs.</p>
    <p>Each tool or project is presented as is and without any implied warranty. Any 
    use of the tools on this site is at the users own risk. KTER have taken care to 
    ensure outputs and their applicability are fairly presented but there may remain
    some errors which have not yet been identified.</p>
    <p>KTER also host here some larger or more developmental tools. These can only be
    used by registered users. At present KTER have not developed this site to the point
    where additional users will be added. This remains an ambition which will be fulfilled
    as soon as time and resources allow.</p>
{% endblock %}
