{% extends "base.html" %}

{% block content %}
<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>Welcome to KTER</h1>
			</header>
			<div class="content">
				<p>This website hosts a range of different tools that have been of benefit to me at various points. It also hosts some
				more extended projects to describe development and validation. Each tool or project is presented as is and without any
				implied warranty. Any use is at own risk. KTER have taken care to ensure outputs are beneficial to our purposes but these
				may not be the same as your needs. Should you find any of the tools or projects of interest and like to learn anything not
				noted here then please get in touch.
				</p>
			</div>
		</div>
	</section>
<!-- Main -->
		<div id="main">
			
			<!-- One -->
				<section id="one" class="tiles">
					<article>
						<span class="image">
							<img src="static/images/KTER.png" alt="" />
						</span>
						<header class="major">
							<h3><a href="{{ url_for('main.about') }}" class="link">About</a></h3>
							<p>About KTER</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="static/images/pic02.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="{{ url_for('critical.critVel') }}" class="link">Critical Velocity</a></h3>
							<p>Critical Velocity Tool</p>
						</header>
					</article>
					
			<!-- Two -->
				<section id="two">
					<div class="inner">
						<header class="major">
							<h2>Coming Soon</h2>
						</header>
						<p>Developments are added periodically as time permits.</p>
						<ul class="actions">
							<li><a href="landing.html" class="button next">Get Started</a></li>
						</ul>
					</div>
				</section>

		</div>


{% endblock %}

	
